* {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.main {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  /* margin: 10px auto; */
  width: 100px;
  font-size: large;
}

.choise_block {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  height: 30px;
  width: 450px;
  display: flex;
}

.choise_block button {
  flex: 33%;
  margin: 0px 10px;
}